.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -300px;
    margin-left: -300px;
    background: #fff;
    border: 1px solid #663399;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(102,51,153,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(102,51,153,1);
    box-shadow: 10px 10px 5px 0px rgba(102,51,153,1);
}

.close-modal-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.modal-content{
    height: 100%;
}

.show{
    display: block;
}

.hide {
    display: none;
}